@mixin flex($justify:center, $align:center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin animate($x) {
  transform: translateX($x);
  transition: transform 0.6s ease-out;
}

$black: #333;
$white: #ecedec;
$gray: #999;
$green: #aac564;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $green;
  color: $black;
  font-family: -apple-system, 'Roboto', sans-serif;
}

.container {
  @include flex();
  width: 1000px;
  height: 500px;
  padding: 60px;
  background-color: $white;
  border-radius: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
}

.calendar {
  height: 100%;
  position: relative;
}

.calendar-header {
  @include flex(space-between);
  position: absolute;
  top: 100px;
  z-index: 1;

  button {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -72px;
    background: none;
    color: $gray;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    &:first-child {
      left: 0;
    }

    &:last-child {
      right: 0;

      img {
        transform: rotate(180deg);
      }

    }

    &:active {
      opacity: 0.5;
    }
  }
}

.week {
  @include flex(space-between);
  width: 420px;
  color: $gray;
  font-weight: bold;

  div {
    @include flex();
  }
}

.calendar-contents {
  @include flex();
  height: 100%;
  position: relative;
  overflow: hidden;
}

.contents-wrapper {
  @include flex();
  width: 300%;
  height: 100%;
}

.two-month {
  @include flex(space-between, start);
  width: 880px;
  height: 100%;
  padding-top: 48px;
  background-color: $white;
  box-sizing: content-box;

  &:first-child {
    left: -100%
  }

  &:last-child {
    right: -100%
  }
}

.one-month {
  @include flex(start);
  width: 420px;
  flex-direction: column;

  > div {
    @include flex();
    margin-bottom: 80px;
    font-size: 20px;
    font-weight: bold;
  }
}

tr {
  @include flex(space-between);
}

td {
  @include flex();
  height: 40px;

  > div {
    @include flex();
    font-size: 20px;
  }
}


.animate-prev {
  @include animate(33.3333%);
}

.animate-next {
  @include animate(-33.3333%);
}

